.App {
  text-align: center;
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
}
.router {
  display: flex;
  flex-direction: column;
  width: inherit;
  height: inherit;
}

/* Nav Bar Style */

nav {
  background-color:rgba(56, 67, 64, 0.317);
  box-shadow: 0px 3px 10px 0px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 6rem;
  margin: 0;
  padding: 0;
}

.nav-logo {
  font-size: 3rem;
  font-weight: bold;
  font-style: oblique;
  box-shadow: 1px 1px 5px 5px;
}

nav a{
  color: black;
  text-decoration: none;
  font-size: larger;
  font-weight: bold;
  border: 1px solid black;
  box-shadow: 0px 0px 5px 1px;
  border-radius: 10px;
  padding: .5rem;
} 

nav a:visited{
  color: black;
  text-decoration: none;
} 

/* Home Page Style */

.home {
  align-items: center;
  padding: 2vw 10vw;
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  background-color: rgba(154, 187, 197, 0.706);
}

.home-main {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4rem;
}
.home-image {
  width: 400px;
  min-width: 300px;
  min-height: 200px;
  border-radius: 20px;
  background-color: rgb(57, 157, 190);
  opacity: .8;
  box-shadow: 5px 5px 10px 1px;
}
.home-shop-button {
  width: 150px;
  padding: 1rem;
  font-weight: bolder;
  font-size: larger;
  border-radius: 10px;
  box-shadow: 2px 2px 10px 0px;
  background-color: aliceblue;
}

/* Home Page Style */

.products {
  justify-content: center;
  align-items: center;
  padding: 2vw 10vw;
  flex: 1;
  background-color: rgba(154, 187, 197, 0.619);
}

.products-main {
  display: flex;
  flex-flow: row wrap;
  gap: 2rem;
  justify-content: center;
  align-items: center;
}

.products-image {
  min-width: 200px;
  height: 200px;
  border: 1px solid black;
  background-color: rgb(57, 157, 190);
  
  transition: all .5s;
}

.products-image:hover {
  box-shadow: 1px 1px 2px 2px;
}
