.App {
  text-align: center;
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
}
.router {
  display: flex;
  flex-direction: column;
  width: inherit;
  height: inherit;
}

/* Nav Bar Style */

nav {
  background-color:rgba(56, 67, 64, 0.317);
  box-shadow: 0px 3px 10px 0px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 0;
  padding: 1rem;
}

.nav-logo {
  font-size: 3rem;
  font-weight: bold;
  font-style: oblique;
  box-shadow: 1px 1px 5px 5px;
}

nav a{
  color: black;
  text-decoration: none;
  font-size: larger;
  font-weight: bold;
  border: 1px solid black;
  box-shadow: 0px 0px 5px 1px;
  border-radius: 10px;
  padding: .5rem;
} 

nav a:visited{
  color: black;
  text-decoration: none;
} 

/* Home Page Style */

.home {
  align-items: center;
  padding: 2vw 10vw;
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  background-color: rgba(154, 187, 197, 0.706);
}

.home-main {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4rem;
}
.home-image {
  width: 400px;
  min-width: 300px;
  min-height: 200px;
  border-radius: 20px;
  background-color: rgb(57, 157, 190);
  opacity: .8;
  box-shadow: 5px 5px 10px 1px;
}
.home-shop-button {
  width: 150px;
  padding: 1rem;
  font-weight: bolder;
  font-size: larger;
  border-radius: 10px;
  box-shadow: 2px 2px 10px 0px;
  background-color: aliceblue;
}

/* Products Page Style */

.products {
  justify-content: center;
  align-items: center;
  padding: 2vw 10vw;
  flex: 1;
  background-color: rgba(154, 187, 197, 0.619);
}

.products-main {
  display: flex;
  flex-flow: row wrap;
  gap: 3vw;
  justify-content: center;
  align-items: center;
}

.products-selection {
  display: flex;

  width: 300px;
  height: 300px;

  flex-direction: column;
  justify-content: center;
  align-items: center;

}

.products-image {
  width: 150px;
  height: 150px;
  border: 1px solid black;
  background-color: white;
  padding: 1rem;

  transition: all .5s;
}

.products-image:hover {
  width: 200px;
  height: 200px;
  box-shadow: 1px 1px 20px 2px;
}

.products-information {
 height: 20vh;
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
}

.products-title {
  width: 300px;
}

/* Loading Products Page */
/* https://codepen.io/worodhazam/pen/NWyxRYZ */

.loading-products {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  color: white;

  padding: 5px;
}
.loading-products span {
  font-size: 48px;
  letter-spacing: 5px;
  text-transform: uppercase;
  line-height: 1;
  mix-blend-mode: difference;
  background-color: black;
  border-radius: 20px;
  padding: 5px;
}
.loading-products::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 80px;
  height: 100%;
  background-color: white;
  animation: move 2s linear infinite;
  border-radius: 20px;
}
@keyframes move {
  0%,
  100% {
    left: 0;
  }
  50% {
    left: calc(100% - 80px);
  }
}

/* Product Page */
.product {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.product-title {
  text-decoration: underline;
}
.product-details {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.product-image {
  max-width: 300px;
  max-height: 300px;
  border: 5px solid black;
  padding: 5px;
}

.product-info {
  width: 50vw;
  display: flex;
  flex-direction: column;
}

.product-summary-description {
  text-align:justify;
}
